/* sign up form css */

#signup-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	max-height: 95vh;
	width: auto;
	max-width: 90vw;
	border: solid 0.5px black;
	box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.7);
	border-radius: 8px;
	padding: 5px;
	overflow-y: scroll;
	overflow-x: auto;
}

.sign-up-container {
	margin-top: 10px;
}

#errors-list {
	font-size: 8px;
	height: auto;
	/* width: 480px; */
	/* background-color: gray; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(252, 42, 42);
	font-style: italic;
	overflow-wrap: normal;
	margin-left: 10px;
}

.signup {
	/* background-color: blue; */
	font-size: 8px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 5px;
}

.signup-button {
	width: 70px;
	background-color: rgb(247, 60, 39);
	color: white;
	border-radius: 6px;
	border: 0;
	height: 23px;
	font-size: 10px;
}

.signup-form {
	/* background-color: blue; */
	display: flex;
	flex-direction: column;
	justify-self: center;
	width: 180px;
}

.form-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 8px;
}

.signup-header-name {
	font-size: 18px;
	margin-bottom: 8px;
}

.image-logo {
	height: 35px;
	width: 35px;
}

input {
	font-size: 12px;
}
