/* sign up form css */

#signup-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 515px;
	width: 490px;
	border: solid 0.5px black;
	box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.7);
	border-radius: 2%;
	background-color: white;
	padding: 36px, 40px, 32px, 40px;
}
/*
#sign-up-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} */

.error-list-signup {
	font-size: 18px;
	height: auto;
	width: 480px;
	/* background-color: gray; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(252, 42, 42);
	font-style: italic;
	overflow-wrap: normal;
}

.signup {
	/* background-color: blue; */
	font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 5px;
}

.signup-button {
	width: 100px;
	margin-left: 160px;
}

.signup-form {
	/* background-color: blue; */
	display: flex;
	flex-direction: column;
	justify-self: center;
	padding: 5px;
	margin-right: 110px;
}

.signup-form-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 8px;
}

.signup-header-name {
	font-size: 28px;
	margin-bottom: 8px;
}

.signup-image-logo {
	height: 45px;
	width: 45px;
}
