/* group detail css */

#group-details-page {
	padding-bottom: 60px;
}

#details-container-header {
	display: flex;
	flex-direction: row;
	width: inherit;
	/* max-width: 100%; */
	padding-bottom: 20px;
	border-bottom: solid 0.3px rgba(128, 128, 128, 0.4);
}

.details-container-body {
	display: flex;
	flex-direction: column;
	width: auto;
	max-width: 660px;
}

#other {
	margin-top: 15px;
}

#about-section-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#about-section-container-left {
	margin: 0 20px;
}

.details-img-default {
	display: block;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
}

#right-details-header {
	height: 260px;
	width: auto;
	padding-left: 30px;
}

#details-nav-section {
	margin-top: 25px;
}

.details-nav-section-border {
	border-bottom: solid 0.3px rgba(128, 128, 128, 0.4);
}

.details-info {
	display: inline-block;
	font-size: 14px;
	line-height: 1.6;
	margin-top: 2.5px;
	margin-left: 5px;
}

.margin-groups-icon-first {
	margin-top: 18px;
}

.margin-groups-icon-last {
	margin-top: 18px;
}

.share-icon-header {
	font-size: 14px;
}

.status-drop-header {
	font-size: 14px;
	border: solid 1px rgba(128, 128, 128, 0.3);
	border-radius: 5px;
	padding: 10px 20px;
	color: #727272;
	background-color: rgb(246, 247, 248);
}

#right-details-header-name {
	margin-bottom: 10px;
	width: 100%;
	font-size: 24px;
}

.about-details-font {
	font-size: 14px;
	padding: 2px;
}

.about-title-font {
	font-size: 20px;
}

.no-groups-img-detail {
	width: 150px;
	padding: 20px;
	margin-right: 200px;
}

#update-groups-link-container {
	margin-bottom: 30px;
	width: inherit;
	display: flex;
	flex-direction: row;
	overflow-x: hidden;
}

.members-link {
	padding: 2px 10px;
	border-radius: 1px;
	text-decoration: none;
	font-size: 20px;
	color: black;
}

.margin-div {
	width: 50%;
	max-width: 650px;
}

.users-button {
	margin: 0 10px;
}

.read-group-images {
	width: 190px;
	height: 110px;
	object-fit: cover;
	border-radius: 4px;
	margin: 10px;
}

.mbr-signin {
	margin-top: 20px;
	font-size: 30px;
}

.hidden {
	visibility: hidden;
}

.groups-icon-container {
	display: flex;
	flex-direction: row;
}

.icon-stack-share {
	display: flex;
	flex-direction: row;
}

.icon-stack-share > img {
	margin-left: 15px;
}

/* ------------------------------- */

/* -------------- media screens ----------------- */

/* ------------------------------- */

@media screen and (min-width: 940px) {
	#group-details-page {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 20px;
	}

	#left-details-img {
		max-width: 42rem;
	}

	.details-img-default {
		border-radius: 5px;
	}
}

@media screen and (max-width: 1120px) {
	#details-nav-section {
		padding: 0 20px;
		width: auto;
		max-width: 100%;
	}

	.margin-div {
		max-width: 530px;
	}
}

/* ------------------------------- */

@media screen and (max-width: 939px) {
	#root {
		margin: 0px;
		padding: 0px;
		align-items: center;
	}

	#about-section-container-right {
		display: none;
	}

	#about-section-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#details-container-header {
		flex-direction: column;
	}

	#right-details-header {
		width: 100%;
		height: auto;
	}

	#name-details-div {
		width: auto;
		max-width: 100%;
	}

	#right-details-header-name {
		margin-bottom: 4px;
		margin-top: 18px;
	}

	.no-groups-img-detail {
		width: 30vw;
		padding: 20vw;
		margin-left: 40vw;
	}
}
