/* groups css */

.margin-groups-container {
	margin-right: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#groups-container {
	/* background-color: darkgoldenrod; */
	display: flex;
	flex-direction: column;
	width: 80vw;
	align-items: center;
	margin-bottom: 4rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

#group-detail-header {
	/* border-bottom: 0.1px solid gray; */
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#group-detail:first-of-type {
	/* background-color: red; */
	border-top: solid 0.3px rgba(128, 128, 128, 0.2);
}

#group-detail {
	border-bottom: solid 0.3px rgba(128, 128, 128, 0.2);
	text-decoration: none;
	height: 200px;
	width: 660px;
	color: black;
}

.groups-page-link {
	font-size: 15px;
	text-decoration: none;
	text-decoration-line: underline;
	text-underline-offset: 8px;
	color: rgb(74, 162, 217);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 640px;
}

#create-group-link {
	font-size: 20px;
}

#detail-right {
	width: 400px;
	/* background-color: blue; */
}

#detail-left {
	/* background-color: purple; */
	width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#detail-container {
	/* background-color: darkolivegreen; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* margin-left: ; */
}

#group-detail-container {
	/* background-color: yellowgreen; */
	width: max-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.groups-null {
	font-size: 20px;
	padding: 20px;
}
