/* groups css */

.margin-groups-container {
	margin-right: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#groups-container {
	/* background-color: darkgoldenrod; */
	display: flex;
	flex-direction: column;
	width: 80vw;
	align-items: center;
	margin-bottom: 4rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

#group-detail-header {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

}
#group-detail:first-of-type {
	/* background-color: red; */
	border-top: solid 0.3px rgba(128, 128, 128, 0.4);
}

#group-detail {
	border-bottom: solid 0.3px rgba(128, 128, 128, 0.4);
	text-decoration: none;
	height: 200px;
	width: 660px;
	color: black;
}
#group-detail:hover {
	background-color: rgba(244, 244, 244, 0.4);
}

.about-section {
	width: auto;
	word-wrap: normal;
	overflow-y: hidden;
	max-height: 75px;
}

.groups-page-link {
	font-size: 15px;
	text-decoration: none;
	text-decoration-line: underline;
	text-underline-offset: 8px;
	color: rgb(0, 130, 148);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.other-page-link {
	font-size: 15px;
	text-decoration: none;
	color: gray;
	justify-content: flex-start;
}
.groups-page-link:hover {
	color: rgba(0, 131, 148, 0.884);
}

.remove-color:hover {
	background-color: white;
}

#create-group-link {
	font-size: 20px;
}

#detail-right {
	width: 380px;
	/* background-color: blue; */
}

#detail-left {
	/* background-color: purple; */
	width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#detail-container {
	/* background-color: darkolivegreen; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-right: 20px;
}

#group-detail-container {
	/* background-color: yellowgreen; */
	width: max-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.groups-null {
	font-size: 20px;
	padding: 20px;
}

.groups-link-container {
	margin-top: 35px;
	width: 120px;
	height: 30px;
	background-color: white;
	color: white;
	border-radius: 6px;
	border: 0.5px solid gray;
}

.groups-link-container-signin {
	margin-top: 35px;
}

.nothing-found {
	margin-top: 20px;
	font-size: 22px;
}

.groups-margin-div{
	width: 30vw;
	max-width: 480px;
}

/* ------------ Media --------------- */

@media screen and (max-width: 940px) {
	.margin-groups-container {
		width: 95%;
		margin-right: 5vw;
	}

	#group-detail-header,
	#group-detail,
	#detail-container {
		width: 60vw;
	}

	#groups-container {
		width: 85vw;
	}


	#nav-mid {
		margin-left: 20px;
	}

	#detail-right {
		width: 28vw;
	}
}

@media screen and (max-width: 750px) {
	#group-detail-container {
		width: 95%;
	}

	#detail-left {
		width: 70%;
	}

	#detail-right {
		width: 70%;
	}

	#group-detail {
		width: 90%;
	}

	#detail-container {
		width: 95%;
	}
}

@media screen and (max-width: 610px) {
	#login-container,
	.sign-up-container {
		width: 80vw;
		font-size: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#login-button {
		margin: 0;
		margin-left: 20vw;
	}

	.users {
		padding: 0;
		margin: 0 0 0 10px;
		width: fit-content;
	}

	.users-button {
		height: 18px;
		width: auto;
	}

	.nav-container {
		display: flex;
		flex-direction: row-reverse;
	}

	.groups-page-link {
		text-underline-offset: 4px;
	}

	.nav-arrow {
		border: 0.1px solid rgba(244, 244, 244, 0.5);
		padding: 5px;
		height: 20px;
		width: 20px;
		justify-self: flex-start;
	}

	#groupup-logo-wr {
		padding-left: 20vw;
		padding-top: 8px;
		width: 100px;
	}

	#nav-left-container {
		width: 90%;
	}

	#nav-right-container {
		padding: 0 0 0 10px;
		margin: 0;
		width: 10%;
	}

	#read-groups-img {
		width: 80px;
		height: 50px;
		border-radius: 5%;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	#detail-right {
		width: 90%;
		height: max-content;
		margin-right: 5px;
	}
	#detail-left {
		width: 80%;
		height: max-content;
		margin: 0;
	}

	#v-dropdown {
		margin: 0;
	}

	.profile-button {
		display: none;
	}

	.margin-groups-container {
		width: 95%;
		margin-right: 15px;
	}

	#group-detail-header {
		width: 78vw;
	}

	#group-detail {
		width: 80vw;
		height: fit-content;
	}

	#detail-container {
		flex-direction: row-reverse;
		margin: 1px;
		padding: 1px;
	}

	#groups-container {
		width: 95%;
	}
}
