/* groups css */

.center {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.margin-groups-container {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: 970px;
}

.sticky-groups {
	position: sticky;
	top: -1px;
	z-index: 10;
	--tw-bg-opacity: 1;
	background-color: rgb(242, 231, 216);
	width: 100%;
	border-bottom: solid 0.3px rgba(128, 128, 128, 0.4);
}

#groups-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	width: inherit;
	max-width: 960px;
}

#group-detail-header {
	display: flex;
	flex-direction: row;
	width: inherit;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	width: inherit;
	max-width: 660px;
}

#group-detail {
	border-bottom: solid 0.3px rgba(128, 128, 128, 0.4);
	text-decoration: none;
	height: fit-content;
	color: black;
	width: inherit;
	max-width: 660px;
}
#group-detail:hover {
	background-color: rgba(244, 244, 244, 0.4);
}

.group-detail-first:first-child {
	border-top: solid 0.3px rgba(128, 128, 128, 0.4);
}

.about-section {
	width: auto;
	max-width: fit-content;
	word-wrap: normal;
	overflow-y: hidden;
	max-height: 75px;
}

.groups-page-link {
	font-size: 15px;
	text-decoration: none;
	text-decoration-line: underline;
	text-underline-offset: 8px;
	color: rgb(0, 130, 148);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-right: 10px;
}

.other-page-link {
	font-size: 15px;
	text-decoration: none;
	color: gray;
	justify-content: flex-start;
	margin-right: 10px;
}
.groups-page-link:hover {
	color: rgba(0, 131, 148, 0.884);
}

#create-group-link {
	font-size: 20px;
}

#detail-right {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border: 0;
	justify-content: space-between;
	height: auto;
	max-height: 100%;
	margin-top: 3px;
}

#detail-left {
	width: inherit;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#detail-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-right: 20px;
}

#group-detail-container {
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.groups-null {
	font-size: 20px;
	padding: 20px;
}

.groups-link-container {
	margin-top: 35px;
	width: 120px;
	height: 30px;
	color: white;
	border-radius: 6px;
}

.groups-link-container-signin {
	margin-top: 35px;
}

.nothing-found {
	margin-top: 20px;
	font-size: 22px;
}

.pages {
	width: inherit;
	margin-top: 40px;
	margin-bottom: 45px;
	display: flex;
	justify-content: space-around;
}

.page-button {
	text-decoration: none;
	background-color: transparent;
	width: inherit;
	height: inherit;
	font-size: 18px;
	/* border: 2px black solid; */
	border: 0;
	border-radius: 13px;
	padding: 15px;
}

.page-button:hover {
	color: rgb(0, 130, 148);
}

/* ------------ Media --------------- */

@media screen and (max-width: 670px) {
	#groups-container {
		padding: 0;
	}

	#group-detail-header {
		padding-left: 0;
	}

	.users {
		padding: 0;
		margin: 0 0 0 10px;
		width: fit-content;
	}

	.nav-container {
		display: flex;
		flex-direction: row-reverse;
	}

	.groups-page-link {
		text-underline-offset: 4px;
	}

	.nav-arrow {
		border: 0.1px solid rgba(244, 244, 244, 0.5);
		padding: 5px;
		height: 20px;
		width: 20px;
		justify-self: flex-start;
	}

	#groupup-logo-wr {
		padding-left: 20vw;
		padding-top: 8px;
		width: 100px;
	}

	#nav-left-container {
		width: 90%;
	}

	#nav-right-container {
		padding: 0 0 0 10px;
		margin: 0;
		width: 10%;
	}

	#read-groups-img {
		border-radius: 5%;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	#detail-right {
		height: max-content;
		margin-right: 5px;
	}

	#detail-left {
		height: max-content;
		margin: 0;
	}

	#v-dropdown {
		margin: 0;
	}

	.profile-button {
		display: none;
	}

	.margin-groups-container {
		width: 100%;
	}

	#detail-container {
		flex-direction: row-reverse;
		margin: 1px;
		padding: 1px;
		justify-content: space-between;
		width: auto;
		max-width: 100vw;
	}

	#event-detail {
		max-width: 95%;
	}

	.li-tag-events-line {
		padding-left: 0;
	}
}
