/* members css */

.members-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	width: inherit;
}

#member-detail-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	width: inherit;
}

#member-headers {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: inherit;
	max-width: 660px;
	margin: auto;
}

.join-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.not-button {
	margin-top: 40px;
}

#errors-group {
	font-size: 14px;
	color: rgb(252, 42, 42);
	font-style: italic;
	overflow-wrap: normal;
	width: 40%;
	position: absolute;
	right: 30%;
	top: 2%;
	background-color: white;
	border-radius: 15px;
	border: solid 0.1px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 480px) {
	#member-headers {
		display: flex;
		flex-direction: column;
		margin: auto;
	}

	.members-page-link > h2 {
		margin: 0px;
		height: 20px;
		text-align: center;
	}
}
