/* members css */

#member-headers {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: auto;
	max-width: 660px;
	margin: auto;
}

.join-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.not-button {
	margin-top: 40px;
}

#errors-group {
	font-size: 14px;
	color: rgb(252, 42, 42);
	font-style: italic;
	overflow-wrap: normal;
	width: 40%;
	position: absolute;
	right: 30%;
	top: 2%;
	background-color: white;
	border-radius: 15px;
	border: solid 0.1px rgba(0, 0, 0, 0.1);
}
