#event-detail {
	border-bottom: solid 0.3px rgba(128, 128, 128, 0.4);
	text-decoration: none;
	height: 180px;
	width: 660px;
	color: black;
}

#event-detail:first-of-type {
	border-top: solid 0.3px rgba(128, 128, 128, 0.4);
}
