/* read group detail css */

#detail-container {
	display: flex;
	flex-direction: row;
	margin-top: 8px;
	margin-left: 15px;
	margin-bottom: 8px;
}

#detail-left {
	width: 160px;
	height: auto;
	margin-right: 25px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

#detail-right {
	height: 180px;
	width: 450px;
}

#detail-right-name {
	margin: 0;
	margin-top: 5px;
}

#read-groups-img {
	width: 190px;
	height: 110px;
	object-fit: cover;
	border-radius: 4px;
	margin-bottom: 80px;
}

.li-tag-members-line {
	font-size: 14px;
}

.li-tag-events-line {
	font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 90%;
	padding-left: 15px;
	padding-top: 40px;
	padding-bottom: 10px;
}

.events-last-icons-container {
	display: flex;
	flex-direction: row;
}
.events-last-share-icon {
	margin-right: 10px;
}

.li-tags {
	padding-left: 7px;
	font-size: x-small;
	padding-top: 3px;
}

.no-groups-img-read {
	width: 190px;
	object-fit: cover;
}

.brown-text-small {
	--tw-text-opacity: 1;
	color: rgb(135 116 87 / var(--tw-text-opacity));
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding-bottom: 0.125rem;
}

.small-index-font {
	max-height: 2.8em;
	overflow: hidden;
	-webkit-box-orient: vertical;
	--tw-text-opacity: 1;
	color: rgb(117 117 117 / var(--tw-text-opacity));
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding-bottom: 0.25rem;
	text-overflow: ellipsis;
	font-weight: 500;
	padding: 5px;
}
