/* read group detail css */

#detail-container {
	/* background-color: rgb(83, 0, 83); */
	display: flex;
	flex-direction: row;
	margin-top: 8px;
	margin-left: 15px;
}

#detail-left {
	width: 160px;
	height: 100px;
	margin-right: 25px;
}

h3{
	margin: 0;
	margin-top: 5px;
}
