/* group detail css */

#group-details-page {
	/* background-color: gray; */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin: 0 20px 20px 20px;
}

#details-container-header {
	/* background-color: blue; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#details-container-body {
	/* background-color: blue; */
	display: flex;
	flex-direction: column;
	width: 100%;
}

#other {
	margin-top: 15px;
}

#about-section-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#about-section-container-left {
	/* background-color: blue; */
	width: 50vw;
	height: auto;
	overflow-wrap: break-word;
	margin: 0 20px;
	padding-top: 20px;
}

#about-section-container-right {
	width: 40vw;
	padding-left: 20px;
}

#left-details-img {
	width: 52vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#details-img-default {
	width: 50vw;
	height: 260px;
	object-fit: cover;
	border-radius: 2%;
}

#right-details-header {
	height: 260px;
	width: 40vw;
	flex-basis: 0;
	flex-grow: 1;
	width: auto;
	min-width: 0;
	padding-left: 16px;
}

.details-info {
	font-size: 14px;
}

#right-details-header-name {
	font-size: 3vw;
	margin-bottom: 10px;
}

#organizer-details-container {
	padding-top: 20px;
}

.about-details-font {
	font-size: 14px;
}

.about-title-font {
	font-size: 20px;
}

.no-groups-img-detail {
	width: 150px;
	padding: 20px;
	margin-right: 200px;
}

#update-groups-link-container {
	margin-top: 15px;
	display: flex;
	flex-direction: row-reverse;
}

@media screen and (min-width: 1200px) {
	#details-container-body {
		/* background-color: blue; */
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
}
@media screen and (min-width: 1000px) {
	#details-img-default {
		width: 600px;
		height: 300px;
		object-fit: cover;
		border-radius: 2%;
	}

	#right-details-header {
		height: 300px;
		width: 420px;
		flex-basis: 0;
		flex-grow: 1;
		width: auto;
		min-width: 0;
		padding-left: 16px;
	}

	#right-details-header-name {
		font-size: 32px;
	}
}

@media screen and (max-width: 839px) {
	#about-section-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
	}

	#details-container-header {
		/* background-color: blue; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#about-section-container-left {
		width: 60%;
		height: 200px;
		overflow-wrap: break-word;
	}

	#about-section-container-right {
		width: 40%;
		padding-left: 20px;
	}

	#details-img-default {
		width: 100%;
		height: 420px;
		object-fit: cover;
		border-radius: 0%;
	}

	#right-details-header {
		height: 60%;
		width: 37%;
		flex-basis: 0;
		flex-grow: 1;
		width: auto;
		min-width: 0;
		padding-left: 16px;
	}

	#right-details-header-name {
		font-size: 22px;
		margin-bottom: 4px;
		margin-top: 18px;
	}

	.details-info {
		font-size: 10px;
	}

	#details-container-body {
		font-size: 2vw;
		width: 100%;
		height: auto;
		margin: 0 18px;
		padding-top: 36px;
	}

	#about-section-container-left {
		/* background-color: blue; */
		width: 100%;
		height: auto;
		padding-top: 36px;
		overflow-wrap: break-word;
	}

	#about-section-container-right {
		width: 100%;
		padding-left: 0px;
		padding-top: 36px;
		padding-bottom: 36px;
	}

	#left-details-img {
		width: 100%;
		height: 420px;
	}

	.no-groups-img-detail {
		width: 30vw;
		padding: 20vw;
		margin-left: 40vw;
	}
}
