/* group detail css */

/*
max w = 1100
med q = 1120

left = 58
mid = 1
right = 41

*/

#group-details-page {
	/* background-color: gray; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
	margin: 0 20vw 10vw 10vw;
	max-width: 1100px;
}

#details-container-header {
	/* background-color: blue; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: auto;
	max-width: 100%;
}

#details-container-body {
	/* background-color: blue; */
	display: flex;
	flex-direction: column;
	width: 100%;
}

#other {
	margin-top: 15px;
}

#about-section-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 0 0 120px;
}

#about-section-container-left {
	/* background-color: blue; */
	width: 50vw;
	height: auto;
	overflow-wrap: break-word;
	margin: 0 20px;
	padding-top: 20px;
}

#about-section-container-right {
	width: 40vw;
	padding-left: 20px;
}

#left-details-img {
	width: 52vw;
	max-width: 59%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#details-img-default {
	width: 50vw;
	max-width: 600px;
	height: 260px;
	object-fit: cover;
	border-radius: 2%;
}

#right-details-header {
	height: 260px;
	width: auto;
	padding-left: 2vw;
}

#details-nav-section {
	margin-top: 12px;
}

.details-nav-section-border {
	border-bottom: solid 0.3px rgba(128, 128, 128, 0.4);
}

.details-info {
	font-size: 14px;
}

#right-details-header-name {
	margin-bottom: 10px;
	width: 100%;
}

#organizer-details-container {
	padding-top: 20px;
}

.about-details-font {
	font-size: 14px;
	padding: 2px;
}

.about-title-font {
	font-size: 20px;
}

.no-groups-img-detail {
	width: 150px;
	padding: 20px;
	margin-right: 200px;
}

#update-groups-link-container {
	margin-top: 15px;
	display: flex;
	flex-direction: row-reverse;
	max-width: 90%;
}

.margin-div {
	width: 50%;
	max-width: 650px;
}

.users-button {
	margin: 0 10px;
}

.read-group-images {
	width: 190px;
	height: 110px;
	object-fit: cover;
	border-radius: 5%;
	margin: 10px;
}

/* ------------------------------- */

/* -------------- media screens ----------------- */

/* ------------------------------- */

/* TODO: change to min-width, adjust styles */

@media screen and (max-width: 1120px) {
	#group-details-page {
		width: auto;
		max-width: 100%;
		margin: 0 0 0 6vw;
	}

	#details-container-header {
		/* background-color: blue; */
		display: flex;
		flex-direction: row;
		width: 100vw;
		max-width: 100%;
		margin-left: 35px;
	}

	#details-img-default {
		width: 100%;
		height: 300px;
		object-fit: cover;
		border-radius: 2%;
	}

	#right-details-header {
		height: 300px;
		width: 40%;
		flex-basis: 0;
		flex-grow: 1;
		width: auto;
		min-width: 0;
		padding-left: 16px;
	}

	#right-details-header-name {
		font-size: 32px;
	}

	#details-nav-section {
		padding: 0 20px;
		width: auto;
		max-width: 100%;
	}

	.margin-div{
		max-width: 380px;
	}
}

/* ------------------------------- */

@media screen and (max-width: 839px) {
	#root {
		margin: 0;
		padding: 0;
		align-items: center;
	}

	#group-details-page {
		margin: 0 0 0 18vw;
		max-width: 100%;
	}

	.nav-container {
		width: 100%;
	}

	.margin-div {
		width: 45vw;
	}

	#about-section-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
	}

	#details-container-header {
		/* background-color: blue; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	#about-section-container-left {
		width: 60%;
		height: 200px;
		overflow-wrap: break-word;
	}

	#about-section-container-right {
		width: 40%;
		padding-left: 20px;
	}

	#details-img-default {
		width: 100vw;
		height: 420px;
		object-fit: cover;
		border-radius: 0%;
		margin: 0;
		padding: 0;
	}

	#right-details-header {
		width: 100%;
		height: auto;
		/* margin-left: 12vw; */
	}

	#name-details-div {
		width: auto;
		max-width: 100%;
	}

	#right-details-header-name {
		font-size: 22px;
		margin-bottom: 4px;
		margin-top: 18px;
	}

	.details-info {
		font-size: 10px;
	}

	#details-container-body {
		font-size: 2vw;
		width: 100%;
		height: auto;
		margin: 0 18px;
		padding-top: 36px;
	}

	#about-section-container-left {
		/* background-color: blue; */
		width: 100%;
		height: auto;
		padding-top: 36px;
		overflow-wrap: break-word;
	}

	#about-section-container-right {
		width: 100%;
		padding-left: 0px;
		padding-top: 36px;
		padding-bottom: 36px;
	}

	#left-details-img {
		width: 100%;
		height: 420px;
	}

	.no-groups-img-detail {
		width: 30vw;
		padding: 20vw;
		margin-left: 40vw;
	}
}
