/* group detail css */

#group-details-page {
	margin-bottom: 60px;
}

#details-container-header {
	display: flex;
	align-items: center;
}

#details-container-body {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#other {
	margin-top: 15px;
}

#about-section-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#about-section-container-left {
	margin: 0 20px;
}

.details-img-default {
	display: block;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
}

#right-details-header {
	height: 260px;
	width: auto;
	padding-left: 30px;
}

#details-nav-section {
	margin-top: 25px;
	border-top: solid 0.3px rgba(128, 128, 128, 0.4);
}

.details-nav-section-border {
	border-bottom: solid 0.3px rgba(128, 128, 128, 0.4);
}

.details-info {
	font-size: 14px;
	line-height: 1.6;
}

#right-details-header-name {
	margin-bottom: 10px;
	width: 100%;
	font-size: 24px;
}

.about-details-font {
	font-size: 14px;
	padding: 2px;
}

.about-title-font {
	font-size: 20px;
}

.no-groups-img-detail {
	width: 150px;
	padding: 20px;
	margin-right: 200px;
}

#update-groups-link-container {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
}

.members-link {
	padding: 2px 10px;
	border-radius: 1px;
	text-decoration: none;
	font-size: 20px;
	color: black;
}

.margin-div {
	width: 50%;
	max-width: 650px;
}

.users-button {
	margin: 0 10px;
}

.read-group-images {
	width: 190px;
	height: 110px;
	object-fit: cover;
	border-radius: 4px;
	margin: 10px;
}

.mbr-signin {
	margin-top: 20px;
	font-size: 30px;
}

.hidden {
	visibility: hidden;
}

/* ------------------------------- */

/* -------------- media screens ----------------- */

/* ------------------------------- */

@media screen and (max-width: 1120px) {
	#details-nav-section {
		padding: 0 20px;
		width: auto;
		max-width: 100%;
	}

	.margin-div {
		max-width: 530px;
	}
}

/* ------------------------------- */

@media screen and (max-width: 839px) {
	#root {
		margin: 0;
		padding: 0;
		align-items: center;
	}

	.margin-div {
		width: 45vw;
	}

	#about-section-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		/* margin-top: 10px; */
	}

	#details-container-header {
		flex-direction: column;
	}

	#right-details-header {
		width: 100%;
		height: auto;
	}

	#name-details-div {
		width: auto;
		max-width: 100%;
	}

	#right-details-header-name {
		margin-bottom: 4px;
		margin-top: 18px;
	}

	.no-groups-img-detail {
		width: 30vw;
		padding: 20vw;
		margin-left: 40vw;
	}
}
