.images-ct {
	padding-left: 15px;
}

.images-comp {
	display: flex;
	flex-direction: column;
	width: calc(100% - 15px);
	justify-content: center;
	align-items: center;
}

.images {
	width: 60%;
	height: 500px;
	object-fit: cover;
	border-radius: 8px;
	margin: 50px 0px;
}
