/* members css */

#member-headers {
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
}

.group-detail-header-members {
	margin: 2px;
	margin-right: 105px;
}

.join-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
