/* update group css */

#edit-group-button {
	width: 100px;
	background-color: rgb(247, 60, 39);
	color: white;
	border-radius: 6px;
	border: 0;
}

#edit-group-button:hover {
	background-color: rgb(248, 98, 81);
}

.small-logo {
	height: 48px;
	width: auto;
}
