/*
ROOT CSS
*/

/*
active all: poppins - google font
font-family: 'Poppins', sans-serif;
Types:
-light 300
-regular 400
-regular 400 - italic
-semiBold - 600
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,400&display=swap");

/* non-active: nunito sans - google font
font-family: 'Nunito Sans', sans-serif; */
/* @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap"); */

/* GLOBAL Fonts */

* {
	font-family: "Poppins", sans-serif;
}

body {
	margin: 0px;
	background-color: rgb(242, 231, 216);
}

a {
	text-decoration: none;
	color: black;
	padding: 1px 5px;
}

/* GLOBAL Style */

.errors-li {
	font-size: 9px;
	color: rgb(225, 0, 0);
}
.errors-h {
	font-size: 17px;
	color: rgb(225, 0, 0);
	padding-bottom: 2px;
}

button,
.clicker {
	cursor: pointer;
}

.clicker:hover,
a:hover,
.link-buttons:hover {
	color: rgb(0, 130, 148);
}

.border {
	border: 1px solid black;
}

.small-icons {
	height: 20px;
	width: 20px;
}

.curr-link {
	text-decoration: none;
	text-decoration-line: underline;
	text-underline-offset: 8px;
	color: rgb(0, 130, 148);
}

.curr-link:hover {
	color: rgba(0, 131, 148, 0.884);
}

.col {
	display: flex;
	flex-direction: column;
	justify-self: flex-start;
	align-self: flex-start;
}

.row {
	display: flex;
	flex-direction: row;
}

.mauto {
	margin: auto;
}

.mtop5 {
	margin-top: 5px;
}

.mtop10 {
	margin-top: 10px;
}

.aligncenter {
	align-items: center;
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	background-color: rgb(53, 62, 72);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(247, 60, 39);
	border-radius: 20px;
}

.red {
	color: red;
}

.default {
	cursor: default;
}

/* errors-------------------- */

.errors-form {
	color: rgb(221, 0, 0);
	font-size: 0.5rem;
	height: 13.5px;
}

/* search-------------------- */

.search {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
