/* splash css */

.splash-link,
.splash-font {
	text-decoration: none;
	font-size: 20px;
	color: black;
}

.splash-link {
	padding: 2px 10px;
	border-radius: 6%;
}

.splash-link:hover {
	background-color: rgba(244, 244, 244, 0.4);
	color: rgb(0, 130, 148);
}

#groups-link-container {
	margin: 20px;
}

#splash-container {
	/* background-color: blue; */
	/* background-image: url('../../../public/images/background.png'); */
	display: flex;
	flex-direction: row;
}

#splash-img-right {
	height: auto;
	width: 300px;
}

#splash {
	margin-right: 7vw;
	margin-left: 7vw;
}

/* splash media q - mobile */

@media screen and (max-width: 610px) {
	/* splash media q - mobile */

	#splash-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.splash-font-h {
		font-size: 30px;
	}

	.splash-link,
	.splash-font {
		text-decoration: none;
		font-size: 16px;
	}
}
