.rsvp-detail-container {
	width: 600px;
	max-width: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}

.rsvp-detail-right {
	width: 100%;
	height: inherit;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border: 0;
	height: auto;
	max-height: 100%;
}

.attend-ct {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: sticky;
	bottom: 0px;
	background-color: rgb(242, 231, 216);
	margin: 0;
	height: 60px;
	width: 100%;
	border-top: solid 0.3px rgba(128, 128, 128, 0.4);
	padding-top: 5px;
	padding-bottom: 10px;
	z-index: 6;
	cursor: default;
}

.event-attend {
	padding: 3px 15px;
	font-size: 0.9rem;
	height: 25px;
}

.event-attend:hover {
	background-color: rgb(255, 85, 66);
	cursor: pointer;
}

.date-attend-time {
	font-size: 0.85rem;
}

.none {
	margin-bottom: 30vh;
	margin-top: 5vh;
}

@media screen and (max-width: 940px) {
	.event-details-img-default {
		width: 100vw;
		border-radius: 0;
	}
}
@media screen and (max-width: 680px) {
	.attend-ct,
	.date-attend-time,
	.event-attend {
		font-size: 0.5rem;
		padding: 0;
	}
	.event-attend {
		margin: 0;
		display: block;
		width: auto;
		padding: 0px 5px;
	}
	#group-detail {
		width: 70vw;
	}
	.rsvp-detail-container {
		width: 100vw;
	}
	.event-detail {
		width: 90vw;
	}
	#update-groups-link-container {
		display: flex;
		flex-direction: column;
	}
	.crud-btns {
		margin-right: auto;
	}
}
