/* navigation css */

/* @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap"); */
/* font-family: "Caveat", cursive; */
/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); */
/* font-family: 'Pacifico', cursive; */

.hidden {
	display: none;
}

.nav-container {
	/* background-color: purple; */
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	position: sticky;
	border-bottom: solid 0.3px rgba(128, 128, 128, 0.2);
	height: auto;
	padding: 0 20px;
	width: 100%;
}

.button-container {
	/* background-color: red; */
	display: flex;
	flex-direction: row-reverse;
}

.profile-container {
	/* background-color: gray; */
	display: flex;
	flex-direction: column;
	margin-top: 0;
	padding-top: 0;
}

#dropdown {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 0;
	padding-top: 0;
	padding-right: 1%;
}

#nav-left-container {
	width: 20%;
	display: flex;
	flex-direction: row;
}

#nav-mid {
	width: 50%;
	margin-top: 10px;
	display: flex;
	flex-direction: row;

	/*
	justify-content: center;
	align-items: center; */
}

#nav-right-container {
	width: 30%;
}

#nav-title {
	text-decoration: none;
	font-size: 40px;
	/* font-family: "Caveat", cursive; */
	color: red;
	width: 125px;
	height: 45px;
}

#groupup-logo-wr {
	width: 86%;
	height: auto;
	padding-top: 8%;
	padding-left: 20%;
}

#navbar-search {
	width: 250px;
	max-width: 500px;
	height: 31px;
	text-decoration: none;
	border: solid 0.5px rgba(128, 128, 128, 0.4);
	border-radius: 3%;
	padding: 10px;
	padding-right: 10px;
}

#navbar-search:hover {
	background-color: rgba(244, 244, 244, 0.3);
}

#search-bar-button {
	height: 16px;
	width: 16px;
	padding-left: 1px;
	padding-bottom: 0.5px;
	text-decoration: none;
}

#search-btn-container {
	text-decoration: none;
	margin: 5px;
	padding: 3.5px;
	background-color: rgb(247, 60, 39);
	border: solid 0.1px rgba(128, 128, 128, 0.4);
	color: white;
	height: 51.5px;
	width: 68px;
}

.navbar-search-button {
	display: none;

	background-color: rgb(247, 60, 39);
	border: solid 1px rgba(128, 128, 128, 0.4);
	border-left: 0;
	border-radius: 0 10% 10% 0;
	margin-left: -10px;
}

.navbar-search-button:hover {
	background-color: rgb(248, 98, 81);
}

#navbar-search:focus {
	outline: none;
	background-color: rgba(244, 244, 244, 0.6);
}

/* ------------ media --------------- */

@media screen and (max-width: 750px) {
	#nav-mid {
		display: none;
	}

	#nav-left-container,
	#nav-right-container {
		width: 50%;
	}
}

@media screen and (max-width: 610px) {
	.profile-dropdown {
		width: 120vw;
		height: 120vh;
		position: absolute;
		top: 65px;
		left: auto;
		right: auto;
		bottom: auto;
		border: none;
		border-radius: 0;
		box-shadow: none;
		padding: 0;
		margin: 0;
	}

	#splash {
		width: 85vw;
	}
}
