/* navigation css */

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
/* font-family: "Caveat", cursive; */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* font-family: 'Pacifico', cursive; */

.nav-title {
	text-decoration: none;
	font-size: 40px;
	font-family: "Caveat", cursive;
	color: red;
	width: 125px;
	height: 45px;
}

.hidden {
	display: none;
}

.nav-container {
	/* background-color: purple; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: sticky;
	border-bottom: solid 1px black;
	height: 45px;
	padding: 0 20px;
	padding-bottom: 20px;
}

.profile-button {
	background-color: white;
	font-size: 2rem;
}

.button-container {
	/* background-color: red; */
	display: flex;
	flex-direction: row-reverse;
}

.profile-container {
	/* background-color: gray; */
	display: flex;
	flex-direction: column;
	margin-top: 0;
	padding-top: 0;
}

#dropdown {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 0;
	padding-top: 0;
}
