/* profile button css */

.profile-dropdown {
	position: absolute;
	top: 82px;
	right: 30px;
	border: solid 0.1px rgba(0, 0, 0, 0.1);
	border-radius: 4%;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
	background-color: white;
	padding: 12px 16px;
	font-size: 14px;
	width: auto;
	height: auto;
}

.profile-button {
	/* background-color: red; */
	border: 0;
	height: 51px;
	width: 58px;
	font-size: 260%;
	background-color: white;
}

.users {
	/* background-color: purple; */
	margin: 0 0 1px 0;
	padding: 1px;
	font-size: 9px;
}

#v-dropdown {
	margin-top: 7px;
	margin-left: 0.4vw;
}

.users-button {
	width: auto;
	color: black;
	border-radius: 6px;
}

.nav-details {
	padding: 4px 0;
}

#nav-details-log-out {
	text-decoration: none;
	background-color: white;
	border: white 1px;
	padding: 8px 12px;
	border-radius: 2%;
}

.dropdown-buttons {
	background-color: white;
	border: 0;
	font-size: 11px;
}

#nav-details-log-out:hover,
.dropdown-buttons:hover {
	background-color: rgba(244, 244, 244, 0.1);
	color: rgb(0, 130, 148);
}

.nav-arrow {
	height: 16px;
	width: 16px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 2px;
}

.nav-arrow:hover {
	background-color: rgba(244, 244, 244, 0.1);
	cursor: pointer;
}

.button-container {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.no-user-container {
	display: flex;
	flex-direction: row;
	/* margin: 0 5px; */
	margin-top: 15px;
}

#nav-members-img {
	height: 50px;
	width: 50px;
	object-fit: cover;
	border-radius: 100px;
}

.small-drop {
	padding: 3px;
}

@media screen and (max-width: 610px) {
	.no-user {
		display: none;
	}
}

@media screen and (min-width: 611px) {
	.no-login-hide {
		display: none;
	}
}
