/* profile button css */

.profile-dropdown {
	/* display: flex;
	flex-direction: row; */
	position: absolute;
	top: 44px;
	right: 20px;
	border: solid black;
	background-color: white;
	padding: 15px;
}

.profile-button {
	/* background-color: red; */
	border-radius: 80px;
}

.users {
	/* background-color: purple; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 7px;
	padding: 3px;
}

.users-button {
	border: solid 0.5px black;
	background-color: white;
	height: 30px;
	width: 220px;
}
