/* profile button css */

.profile-dropdown {
	/* display: flex;
	flex-direction: row; */
	position: absolute;
	top: 44px;
	right: 20px;
	border: solid black;
	background-color: white;
	padding: 15px;
}

.profile-button {
	/* background-color: red; */
	border-radius: 80px;
}
