#event-detail {
	border-bottom: solid 0.3px rgba(128, 128, 128, 0.4);
	text-decoration: none;
	color: black;
	width: 660px;
	height: max-content;
	padding-bottom: 5px;
}

#event-detail:hover {
	background-color: rgba(244, 244, 244, 0.4);
}

.text-align {
	text-align: center;
}

.no-display {
	margin: auto;
	margin-top: 150px;
	margin-bottom: 150px;
	font-size: 25px;
}

.online-only {
	position: relative;
	top: 7px;
	right: 0px;
	background-color: rgba(128, 128, 128, 0.3);
	width: 120px;
	border-radius: 5px;
}
