/* Log in form */

#login-container {
	background-color: white;
	height: 330px;
	width: 22vw;
	display: flex;
	flex-direction: column;
	padding: 30px;
	align-items: center;
	justify-content: center;
	border: solid 0.5px black;
	box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}

.login-form-container {
	width: 100px;
}

#modal-content {
	border-radius: 10px;
	/* background-color: red; */
}

#username,
#password {
	font-size: 12px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	/* margin-right: 60px; */
	margin-bottom: 8px;
}

#login-button {
	font-size: 12px;
	width: 60px;
	background-color: rgb(247, 60, 39);
	color: white;
	border-radius: 6px;
	border: 0;
	height: 24px;
	margin-bottom: 10px;
}

#login-button:hover {
	background-color: rgb(248, 98, 81);
}

#delete-group-button {
	width: 100px;
	background-color: rgb(247, 60, 39);
	color: white;
	border-radius: 6px;
	border: 0;
}
.error-list-login {
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(252, 42, 42);
	font-style: italic;
}

#login-form-buttons {
	border: solid 0.3px rgba(128, 128, 128, 0.8);
	margin-bottom: 5px;
}

#login-form-buttons:hover {
	background-color: rgba(244, 244, 244, 0.4);
}

.errors-li-login {
	font-size: 12px;
	margin-right: 45px;
}
