/* Log in form */

#login-container {
	background-color: white;
	height: 515px;
	width: 490px;
	display: flex;
	flex-direction: column;
	padding: 30px;
	align-items: center;
	justify-content: center;
	border: solid 0.5px black;
	box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.7);
	border-radius: 2%;
}

#modal-content {
	border-radius: 2%;
	/* background-color: red; */
}

#username,
#password {
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 60px;
	margin-bottom: 15px;
}

#login-button {
	margin-top: 10px;
	margin-left: 150px;
	font-size: 15px;
	width: 100px;
	background-color: rgb(247, 60, 39);
	color: white;
	border-radius: 6px;
	border: 0;
	height: 30px;
}

#delete-group-button {
	width: 100px;
	background-color: rgb(247, 60, 39);
	color: white;
	border-radius: 6px;
	border: 0;
}
.error-list-login {
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(252, 42, 42);
	font-style: italic;
}
